<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="apod_wallpaper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <apod_wallpaper.Properties.Settings>
      <setting name="TrayDoubleClickAction" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StyleComboBox" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="NasaApiKey" serializeAs="String">
        <value>DEMO_KEY</value>
      </setting>
      <setting name="AutoRefreshEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartWithWindows" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ImagesDirectoryPath" serializeAs="String">
        <value></value>
      </setting>
      <setting name="LastAutoRefreshRunDate" serializeAs="String">
        <value></value>
      </setting>
    </apod_wallpaper.Properties.Settings>
  </userSettings>
</configuration>
