<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="apod_wallpaper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <apod_wallpaper.Properties.Settings>
      <setting name="TrayDoubleClickAction" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StyleComboBox" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TimeRefresh" serializeAs="String">
        <value>01/01/2021 03:00:00</value>
      </setting>
    </apod_wallpaper.Properties.Settings>
  </userSettings>
</configuration>